.audio {
  display: flex;
  flex-direction: column;
}

audio {
  max-width: 250px;
}

a.song:link, a.song:visited, a.song:active {
  color: orange;
}

/* mouse over link */
a.song:hover {
  color: grey;
}
