.message {
  display: flex;
  flex-direction: row;
  margin: 5px;
  max-width: 80%;
}

@media (max-width: 800px) {
  .message {
    max-width: 90%;
  }
}

.message-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 7px;
}

.message-box-tail {
  height: 0;
  width: 0;
  border-bottom: 20px solid transparent;
}

.right-side-message {
  align-self: flex-end;
}

.right-side-message .message-box-tail {
  border-left: 20px solid #ddf7c8;
  margin-left: -5px;
}

.right-side-message .message-box {
  background: #daf8c4;
}

.left-side-message {
  align-self: flex-start;
}

.left-side-message .message-box-tail {
  border-right: 20px solid white;
  margin-right: -5px;
}

.left-side-message .message-box {
  background: white;
}

.message-author {
  font-size: 14px;
}

.message-date {
  align-self: flex-end;
  font-size: 10px;
  color: #777;
}
